<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LMS</title>

    <%-include("includes/head.ejs")%>
  </head>

  <body class="">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
      <div class="loader-track">
        <div class="loader-fill"></div>
      </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <%-include("includes/admin-sidebar")%>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    <%-include('includes/header')%>
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                  <div class="page-block">
                    <div class="row align-items-center">
                      <div class="col-md-12">
                        <div class="page-header-title">
                          <h5 class="m-b-10">Issue Book</h5>
                        </div>
                        <ul class="breadcrumb">
                          <li class="breadcrumb-item">
                            <a href="book-list.html"
                              ><i class="feather icon-home"></i
                            ></a>
                          </li>
                          <li class="breadcrumb-item">
                            <a href="book-list.html">Issue Book List</a>
                          </li>
                          <li class="breadcrumb-item">
                            <a href="#!">Issue book</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <!-- [ Main Content ] start -->
                <div class="row">
                  <!-- [ task-list ] start -->
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h5>Issue Book</h5>
                      </div>
                      <div class="card-body task-data">
                        <form id="bookForm">
                          <div class="form-group row">
                            <label for="book_id" class="col-sm-3 col-form-label"
                              >Book ID</label
                            >
                            <div class="col-sm-6">
                              <input
                                type="number"
                                class="form-control"
                                id="book_id"
                                placeholder="Book ID"
                                required
                              />
                            </div>
                          </div>
                          <div class="form-group row">
                            <label
                              for="student_library_id"
                              class="col-sm-3 col-form-label"
                              >Student Library ID</label
                            >
                            <div class="col-sm-6">
                              <input
                                type="text"
                                class="form-control"
                                id="student_library_id"
                                placeholder="Student Library Name"
                                required
                              />
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-sm-9 text-right">
                              <button type="submit" class="btn btn-primary">
                                Save
                              </button>
                              <a href="/issue" class="btn btn-danger">
                                Cancel
                              </a>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- [ task-list ] end -->
                </div>
                <!-- [ Main Content ] end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- [ Main Content ] end -->

    <!-- Required Js -->
    <script src="/js/vendor-all.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/pcoded.min.js"></script>
    <script>
      const form = document.getElementById("bookForm");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const book_id = document.getElementById("book_id").value;

        const student_library_id =
          document.getElementById("student_library_id").value;

        try {
          const response = await fetch("/issue/new-book-issue", {
            method: "POST",

            headers: {
              "Content-Type": "application/json",
            },

            body: JSON.stringify({
              book_id,
              student_library_id,
            }),
          });

          const data = await response.json();

          if (response.ok) {
            alert(data.message);

            window.location.href = "/issue";
          } else {
            alert(data.message || "Something went wrong");
          }
        } catch (error) {
          console.log(error);

          alert("Server Error");
        }
      });
    </script>

    <!-- Data tables.js -->
    <!-- <script src="/plugins/data-tables/js/datatables.min.js"></script> -->

    <!-- <script type="text/javascript">
      setTimeout(function () {
        $("#simpletable").DataTable();
      }, 600);
    </script> -->
  </body>
</html>
